@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Outfit:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";



.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #313e53;
  border-radius: 6px;
  border: 2px solid #1f2937;
}
